

<ion-content [fullscreen]="true">
  <ion-list [inset]="true">
    <ion-item>
      <ion-label [routerLink]="['/info']">Informações pessoas</ion-label>
    </ion-item>
    <ion-item>
      <ion-label [routerLink]="['/termos']">Termo de Serviços</ion-label>
    </ion-item>
    <ion-item>
      <ion-label [routerLink]="['/politica']">Política de Privacidade</ion-label>
    </ion-item>
    <ion-item>
      <ion-label [routerLink]="['/alterarsenha']">Alterar Senha</ion-label>
    </ion-item>
    <ion-item>
      <ion-button (click)="presentAlert()">SAIR</ion-button>
<p>{{ handlerMessage }}</p>
<p>{{ roleMessage }}</p>
    </ion-item>
  </ion-list>
</ion-content>
